html {
    overflow-y: scroll;
    height: 250vh;
  }
  
  .wall {
    z-index: 1;
    position: absolute;
    text-align: center;
    top: 20vh;
    left: 4vw;
    height: 146vh;
    width: 20vw;
    border-radius: 0.8vh;
    border-top: 0.2vh solid rgb(224, 224, 224);
    background-color: rgb(27, 27, 27);
  }
  
  .trending {
    word-spacing: 8vw;
    margin: 7vh;
    z-index: 2;
  }
  
  .items {
    z-index: 3;
    border-radius: 0.4vh;
    border: 0.2vh solid rgb(27, 27, 27);
    transition-timing-function: ease-out;
    transition-duration: 0.2s;
    width: 15vw;
    margin: 3vw;
    height: 40vh;
  }

  .options {
    width: 70vw;
    float: right;
  }
  
  .items:hover {
    padding: 0.25vh;
    border: 0.25vh solid rgb(245, 245, 245);
    transition-timing-function: ease-in;
    transition-duration: 0.2s;
  }
  
.brand {
  color: white;
  font-size: 1.6vw;
  position: absolute;
  top: 2vh;
  left: 1vw;
  border-top: 0.2vh solid white;
  text-align: left;
  width: 16vw;
}

.brand_options {
  color: white;
  font-size: 1vw;
  text-align: left;
  position: absolute;
  left: 1.5vw;
  top: 7vh;
}

  footer {
    bottom: -150vh;
  }
