html {
    overflow-y: scroll;
    height: 240vh;
  }
  
  body {
    margin: 0px;
    padding: 0px;
    background-color: rgb(15, 15, 15);
  }
  
  .logo {
    width: 10vw;
  }
  
  header {
    background-color: black;
    font-family: 'Times New Roman', serif;
    border-bottom: 0.5vh double rgb(190, 190, 190);
  }
  
  a {
    text-decoration: none;
  }
  
  .nav {
    color: rgb(255, 255, 255);
    font-size: 1vw;
    text-align: center;
    line-height: 4vh;
    position: absolute;
    height: 4.2vh;
    top: 3vh;
    border-width: 0.2vh;
    border-style: solid;
    border-color: white;
  }
  
  .home {
    width: 12vw;
    left: 13.75vw;
  }
  
  .website_logo input[type=text] {
    position: absolute;
    width: 35vw;
    height: 3vh;
    left: 30.5vw;
    top: 2.35vh;
    padding: 0.63vh;
    margin-top: 0.72vh;
    margin-right: 1vh;
    border: none;
    font-size: 1vw;
    background-color: rgb(238, 238, 238);
    border-radius: 0.2vh;
  }
  
  .register {
    width: 6vw;
    left: 90.5vw;
  }
  
  .login {
    width: 6vw;
    left: 82vw;
  }
  
  .messages {
    width: 6vw;
    left: 70.2vw;
  }
  
  .home:hover,.login:hover,.register:hover,.messages:hover {
    background-color: rgba(61, 61, 61, 0.5);
  }
  
  .cart {
    width: 2.1vw;
    height: 3.8vh;
    position: absolute;
    top: 3vh;
    left: 78vw;
    padding: 0.2vh;
  }
  
  .unhovered {
    border-width: 0.2vh;
    border-style: dashed;
    border-color: white;
    z-index: 2;
  }
  
  .trans:hover + .unhovered { 
    background-color: rgba(61, 61, 61, 0.5);
  }
  
  .trans {
    background-color: transparent;
    z-index: 4;
  }
  
  .wall {
    z-index: 1;
    position: absolute;
    text-align: center;
    top: 20vh;
    left: 4vw;
    height: 146vh;
    width: 20vw;
    border-radius: 0.8vh;
    border-top: 0.2vh solid rgb(224, 224, 224);
    background-color: rgb(27, 27, 27);
  }
  
  .trending {
    word-spacing: 8vw;
    margin: 7vh;
    z-index: 2;
  }
  
  .items {
    z-index: 3;
    border-radius: 0.4vh;
    border: 0.2vh solid rgb(27, 27, 27);
    transition-timing-function: ease-out;
    transition-duration: 0.2s;
    width: 15vw;
    margin: 3vw;
    height: 40vh;
  }

  .options {
    width: 70vw;
    float: right;
  }
  
  .items:hover {
    padding: 0.25vh;
    border: 0.25vh solid rgb(245, 245, 245);
    transition-timing-function: ease-in;
    transition-duration: 0.2s;
  }
  
.brand {
  color: white;
  font-size: 1.6vw;
  position: absolute;
  top: 2vh;
  left: 1vw;
  border-top: 0.2vh solid white;
  text-align: left;
  width: 16vw;
}

.brand_options {
  color: white;
  font-size: 1vw;
  text-align: left;
  position: absolute;
  left: 1.5vw;
  top: 7vh;
}

  footer {
    position: absolute;
    bottom: -140vh;
    width: 99vw;
    height: 8vh;
    text-align: center;
    font-size: 1.1vw;
    color: white;
    font-style: italic;
    opacity: 40%;
    background-color: rgb(29, 29, 29);
  }
