  html {
    height: 100vh;
  }
  
  .wally {
    z-index: 1;
    position: absolute;
    top: 18vh;
    left: 4vw;
    height: 90vh;
    max-height: 70vh;
    width: 91.3vw;
    border-radius: 0.8vh;
    border-top: 0.3vh solid rgb(224, 224, 224);
    background-color: rgb(27, 27, 27);
    overflow-y: scroll;
  }

  .itemsy {
    text-align: left;
    padding: 0.6vw;
    width: 8vw;
  }

  .firsty {
    top: 9.5vh;
  }

  .secondy {
    top: 25vh;
  }

  .thirdy {
    top: 40.5vh;
  }

  .forthy {
    top: 56vh;
  }

  .fifthy {
    top: 71.5vh;
  }

  .sixthy {
    top: 87vh;
  }

  .linei {
    padding: 0.3vw;
    position: absolute;
    border-bottom: 0.2vh solid rgb(230, 230, 230);
    color: white;
    text-align: left;
    background-color: rgb(29, 29, 29);
    left: 9vw;
    width: 80vw;
    font-size: 1vw;
    border-radius: 0.3vh;
  }

  footer {
    bottom: 0vh;
  }