html {
    overflow-y: scroll;
    height: 180vh;
  }
  
  body {
    margin: 0px;
    padding: 0px;
    background-color: rgb(15, 15, 15);
  }
  
  .logo {
    width: 10vw;
  }
  
  header {
    background-color: black;
    font-family: 'Times New Roman', serif;
    border-bottom: 0.5vh double rgb(190, 190, 190);
  }
  
  a {
    text-decoration: none;
  }
  
  .nav {
    color: rgb(255, 255, 255);
    font-size: 1vw;
    text-align: center;
    line-height: 4vh;
    position: absolute;
    height: 4.2vh;
    top: 3vh;
    border-width: 0.2vh;
    border-style: solid;
    border-color: white;
  }
  
  .home {
    width: 12vw;
    left: 13.75vw;
  }
  
  .website_logo input[type=text] {
    position: absolute;
    width: 35vw;
    height: 3vh;
    left: 30.5vw;
    top: 2.35vh;
    padding: 0.63vh;
    margin-top: 0.72vh;
    margin-right: 1vh;
    border: none;
    font-size: 1vw;
    background-color: rgb(238, 238, 238);
    border-radius: 0.2vh;
  }
  
  .register {
    width: 6vw;
    left: 90.5vw;
  }
  
  .login {
    width: 6vw;
    left: 82vw;
  }
  
  .messages {
    width: 6vw;
    left: 70.2vw;
  }
  
  .home:hover,.login:hover,.register:hover,.messages:hover {
    background-color: rgba(61, 61, 61, 0.5);
  }

  .trans {
    background-color: transparent;
    z-index: 4;
  }
  
  .cart {
    width: 2.1vw;
    height: 3.8vh;
    position: absolute;
    top: 3vh;
    left: 78vw;
    padding: 0.2vh;
  }
  
  .unhovered {
    border-width: 0.2vh;
    border-style: dashed;
    border-color: white;
    z-index: 2;
  }
  
  .trans:hover + .unhovered { 
    background-color: rgba(61, 61, 61, 0.5);
  }

  .item {
    position: absolute;
    top: 22vh;
    left: 16vw;
    height: 50vh;
    border-radius: 0.4vw;
  }

  .wall {
    background-color: rgb(37, 37, 37);
    width: 30vw;
    height: 60vh;
    position: absolute;
    top: 22vh;
    right: 14vw;
    border-radius: 0.4vw;
  }

  .comments {
    font-size: 1.6vw;
    background-color: rgba(139, 139, 139, 0.055);
    padding: 0.5vh;
    border-radius: 0.2vw;
    position: absolute;
    top: 90vh;
    left: 16vw;
    color: rgb(182, 182, 182);
  }

  .linha {
    width: 69.2vw;
    position: absolute;
    top: 95vh;
    left: 16vw;
    border-bottom: 0.15vw solid rgb(196, 196, 196);
  }

  .product {
    position: absolute;
    font-size: 1.6vw;
    top: 2vh;
    left: 1vw;
    color: white;
    background-color: rgba(24, 24, 24, 0.137);
    padding: 0.6vh;
    border-radius: 0.4vw;
  }

  .owner {
    position: absolute;
    font-size: 1vw;
    top: 8vh;
    left: 1vw;
    background-color: rgba(24, 24, 24, 0.185);
    padding: 0.6vh;
    border-radius: 0.4vw;
    color: white
  }

  .description {
    font-size: 1.3vw;
    position: absolute;
    top: 16vh;
    left: 1vw;
    color: white;
    width: 27vw;
    padding: 0.2vh;
    border-bottom: 0.2vh solid rgb(216, 216, 216);
  }

  .price {
    font-size: 1.8vw;
    position: absolute;
    bottom: 2.5vh;
    right: 3vw;
    color: white;
    padding: 0.3vw;
    background-color: rgba(26, 26, 26, 0.712);
  }

  .message {
    font-size: 1.8vw;
    padding: 0.6vw;
    border-radius: 10vw;
    position: absolute;
    bottom: 2.5vh;
    right: 18vw;
    color: white;
    padding-left: 1.8vw;
    padding-right: 1.8vw;
    background-color: rgba(0, 0, 0, 0.336);
  }

  .message:hover {
    background-color: rgba(0, 0, 0, 0.61);
  }

  footer {
    position: absolute;
    bottom: -80vh;
    width: 99vw;
    height: 8vh;
    text-align: center;
    font-size: 1.1vw;
    color: white;
    font-style: italic;
    opacity: 40%;
    background-color: rgb(29, 29, 29);
  }

  .wishlist {
    width: 3vw;
    padding: 0.2vw;
    padding-top: 0.3vw;
    border-radius: 10vw;
    position: absolute;
    right: 0.5vw;
    top: 1vh;
    cursor: pointer;
  }

  .pop {
    position: absolute;
    right: 4.2vw;
    top: 3.2vh;
    color: white;
    padding: 0.2vw;
    font-size: 2vh;
    display: none;
  }

  .wishlist:hover {
    background-color: rgba(151, 28, 28, 0.849);
  }

  .wishlist:hover ~ .pop {
    display: block;
  }