body {
    margin: 0px;
    padding: 0px;
    background-color: rgb(15, 15, 15);
    box-sizing: border-box;
    overflow: hidden;
  }
  
  header {
    background-color: black;
    font-family: 'Times New Roman', serif;
    border-bottom: 0.5vh double rgb(190, 190, 190);
    height: 14vh;
  }

  .logo {
    width: 10vw;
  }
  
  a {
    text-decoration: none;
  }
  
  .nav {
    color: rgb(255, 255, 255);
    font-size: 1vw;
    text-align: center;
    line-height: 4vh;
    position: absolute;
    height: 4.2vh;
    top: 3vh;
    border-width: 0.2vh;
    border-style: solid;
    border-color: white;
  }
  
  .home {
    width: 12vw;
    left: 13.75vw;
  }
  
  .website_logo input[type=text] {
    position: absolute;
    width: 35vw;
    height: 3vh;
    left: 30.5vw;
    top: 2.35vh;
    padding: 0.63vh;
    margin-top: 0.72vh;
    margin-right: 1vh;
    border: none;
    font-size: 1vw;
    background-color: rgb(238, 238, 238);
    border-radius: 0.2vh;
  }
  
  .register {
    width: 6vw;
    left: 90.5vw;
  }

  .messages {
    width: 6vw;
    left: 70.2vw;
  }
  
  .login {
    width: 6vw;
    left: 82vw;
  }
  
  .home:hover,.login:hover,.register:hover,.messages:hover{
    background-color: rgba(61, 61, 61, 0.5);
  }

  .trans {
    background-color: transparent;
    z-index: 4;
  }

  .cart {
    width: 2.1vw;
    height: 3.8vh;
    position: absolute;
    top: 3vh;
    left: 78vw;
    padding: 0.2vh;
  }
  
  .unhovered {
    border-width: 0.2vh;
    border-style: dashed;
    border-color: white;
    z-index: 2;
  }
  
  .trans:hover + .unhovered { 
    background-color: rgba(61, 61, 61, 0.5);
  }

  .wall {
    z-index: 1;
    position: absolute;
    text-align: center;
    top: 18vh;
    left: 4vw;
    height: 90vh;
    max-height: 70vh;
    width: 91.3vw;
    border-radius: 0.8vh;
    border-top: 0.3vh solid rgb(224, 224, 224);
    background-color: rgb(27, 27, 27);
    overflow-y: scroll;
  }

  .line {
    position: absolute;
    width: 0.2vh;
    
  }

  footer {
    position: absolute;
    bottom: 0vh;
    width: 100vw;
    height: 8vh;
    text-align: center;
    font-size: 1.1vw;
    color: white;
    font-style: italic;
    opacity: 40%;
    background-color: rgb(29, 29, 29);
  }