html {
  height: 100vh;
}

body {
  margin: 0px;
  padding: 0px;
  background-color: rgb(15, 15, 15);
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

.nav {
  color: rgb(255, 255, 255);
  font-size: 1vw;
  text-align: center;
  line-height: 4vh;
  position: absolute;
  height: 4.2vh;
  top: 3vh;
  border-width: 0.2vh;
  border-style: solid;
  border-color: white;
}

.searchResults {
  font-size: 2vw;
  color: white;
  z-index: 10;
}

.home {
  width: 12vw;
  left: 13.75vw;
}

.website_logo input[type=text] {
  position: absolute;
  width: 35vw;
  height: 3vh;
  left: 30.5vw;
  top: 2.35vh;
  padding: 0.63vh;
  margin-top: 0.72vh;
  margin-right: 1vh;
  border: none;
  font-size: 1vw;
  background-color: rgb(238, 238, 238);
  border-radius: 0.2vh;
}

.register {
  width: 6vw;
  left: 90.5vw;
}

.login {
  width: 6vw;
  left: 82vw;
}

.home:hover,.login:hover,.register:hover,.messages:hover {
  background-color: rgba(61, 61, 61, 0.5);
}

.messages {
  width: 6vw;
  left: 70.2vw;
}

.cart {
  width: 2.1vw;
  height: 3.8vh;
  position: absolute;
  top: 3vh;
  left: 78vw;
  padding: 0.2vh;
}

.unhovered {
  border-width: 0.2vh;
  border-style: dashed;
  border-color: white;
  z-index: 2;
}

.trans:hover + .unhovered { 
  background-color: rgba(61, 61, 61, 0.5);
}

.trans {
  background-color: transparent;
  z-index: 4;
}

.logoinv {
  width: 8vw;
  border-radius: 0.25vw;
}

section {
  background-color: rgb(255, 255, 255);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 3vw;
  border-radius: 0.9vh;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
  position: absolute;
  top: 26vh;
  left: 37vw;
}

.input-wrapper {
  width: 21vw;
  position: relative;
}

.input-wrapper input {
  width: 19.5vw;
  padding: 0.65vw 1.5vw 0.55vw 0.55vw;
  border-radius: 0.9vh;
  border: 0.2vh solid rgba(39, 40, 41, 0.6);
  font-size: 0.9vw;
  outline: none;
  transition: all 0.35s ease-out;
}

.input-wrapper span {
  position: absolute;
  top: 0;
  left: 0;
  padding: 0.8vw;
  color: rgba(39, 40, 41, 0.6);
  pointer-events: none;
  transition: all 0.35s ease-out;
}

button {
  font-weight: bold;
  position: absolute;
  top: 0.2vh;
  right: -0.4vw;
  font-size: 4vh;
  border: none;
  background: none;
  color: rgba(39, 40, 41, 0.6);
  cursor: pointer;
}

.input-wrapper input:focus ~ span, .input-wrapper input:valid ~ span {
  transform: translateY(-1.4vh) translateX(-0.3vw);
  font-size: 0.6vw;
  color: rgba(146, 1, 1, 0.6);
  transition: all 0.25s ease-in;
}

.input-wrapper input:focus ~ button, .input-wrapper input:valid ~ button {
  color: rgba(146, 1, 1, 0.6);
  transition: all 0.25s ease-in;
}

.input-wrapper input:focus {
  outline: 0.4vh solid rgba(146, 1, 1, 0.6);
  transition: all 0.15s ease-in;
}

footer {
  position: absolute;
  bottom: 0vh;
  width: 100vw;
  height: 8vh;
  text-align: center;
  font-size: 1.1vw;
  color: white;
  font-style: italic;
  opacity: 40%;
  background-color: rgb(29, 29, 29);
}