body {
  margin: 0px;
  background-color: rgb(255, 230, 230);
}

header {
  background-color: black;
  height: 90px;
  font-family: 'Times New Roman', serif;
}

#home {
  color: rgb(255, 255, 255);
  font-size: 120%;
  text-align: center;
  line-height: 200%;
  position: fixed;
  width: 220px;
  height: 40px;
  top: 3%;
  left: 9.35%;
  border-width: 1px;
  border-style: solid;
  border-color: white;
}

#home:hover {
  color: rgb(0, 0, 0);
  background-color: rgb(255, 255, 255);
}

#cart_hover {
  display: none;
  position: absolute;
  top: 3%;
  left: 82%;
  padding: 2px;
  border-width: 1px;
  border-style: dashed;
  border-color: rgb(0, 0, 0);
  background-color: white;
}

#cart {
  position: absolute;
  top: 3%;
  left: 82%;
  padding: 2px;
  border-width: 1px;
  border-style: dashed;
  border-color: white;
}

#cart:hover {
  display: none;
}

#cart:hover + #cart_hover{
  display: block;
}

#login {
  color: rgb(255, 255, 255);
  font-size: 120%;
  text-align: center;
  line-height: 200%;
  position: absolute;
  width: 120px;
  height: 40px;
  top: 3%;
  left: 85.4%;
  border-width: 1px;
  border-style: solid;
  border-color: white;
}

#login:hover {
  color: rgb(0, 0, 0);
  background-color: rgb(255, 255, 255);
}

#register {
  color: rgb(255, 255, 255);
  font-size: 120%;
  text-align: center;
  line-height: 200%;
  position: absolute;
  width: 120px;
  height: 40px;
  top: 3%;
  left: 92.7%;
  border-width: 1px;
  border-style: solid;
  border-color: white;
}

#register:hover {
  color: rgb(0, 0, 0);
  background-color: rgb(255, 255, 255);
}

a {
  text-decoration: none;
}